# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#personal files
details.yaml
plugins/scoreboard.yaml
plugins/bans.yaml

# logs
logs/
.idea/
pokemonshowdownbot/
venv/
default*
roomdata-*.txt
plugins/math/putnam_tex/*
